{{!< default}}

<div class="gh-page">
    <div class="pico-container">

<<<<<<< HEAD
        <header class="pico-sitehead">
            {{#if @site.logo}}
                <img src="{{@site.logo}}" alt="{{@site.title}}" />
            {{/if}}
            <div class="pico-sitehead-content">
                <h1>{{@site.title}}</h1>
                <p>{{@site.description}}</p>

            </div>
        </header>

=======
>>>>>>> d437e2fe7d662f63831d6bf1c18c64ec051f3b87
        <div class="gh-postfeed">
        {{#foreach posts visibility="all"}}

            {{> "card"}} {{!-- partials/card.hbs --}}

        {{/foreach}}
        </div>

    </div>
</div>
